<fieldset
  #fieldset
  [id]="id"
  class="max-h-64 overflow-y-auto rounded-lg border border-neutral-500 bg-white px-5"
  [class.hidden]="closed()"
>
  <legend class="sr-only">{{ name() }}</legend>
  <div class="grid gap-1">
    @for (option of options(); track $index) {
      <label class="flex h-11 items-center text-neutral-900">
        <input
          type="radio"
          [name]="name()"
          class="appearance-none"
          [value]="option.value()"
          (change)="onChange(option.value())"
        />
        <ng-container [ngTemplateOutlet]="option.template()"></ng-container>
      </label>
    }
  </div>
</fieldset>
