@if(userData$ | async; as data){
<div class="w-full px-4 pt-[7.25rem]">
  <article
    class="bg-background-base px-5 py-6 rounded-xl max-w-[35rem] mx-auto"
  >
    <h1 class="text-preset-1">Sign Up</h1>
    <form class="grid gap-4 mt-8" novalidate (submit)="submitForm($event)">
      <div class="input-field">
        <label>
          <span>Name</span>
          <input
            #name
            type="text"
            name="name"
            (input)="setName(name.value)"
            (blur)="blurName()"
            [value]="data.user.getUsername()"
            [attr.aria-describedby]="data.errors.username | idHashSet : 'name'"
          />
        </label>
        @for (item of data.errors.username; track item) {
        <p class="input-field__error-message" [id]="item | IdHash : 'name'">
          {{ item }}
        </p>
        }
      </div>

      <div class="input-field">
        <label>
          <span>Email</span>
          <input
            #email
            type="email"
            name="email"
            (input)="setEmail(email.value)"
            (blur)="blurEmail()"
            [value]="data.user.getEmail()"
            [attr.aria-describedby]="data.errors.email | idHashSet : 'email'"
          />
        </label>
        @for (item of data.errors.email; track item) {
        <p class="input-field__error-message" [id]="item | IdHash : 'email'">
          {{ item }}
        </p>
        }
      </div>

      <div class="input-field">
        <label>
          <span>Create Password</span>
          <input
            #password
            (input)="setPassword(password.value)"
            (blur)="blurPassword()"
            [value]="data.user.getPassword()"
            [type]="passwordType()"
            name="password"
            [attr.aria-describedby]="
              data.errors.password.size > 0
                ? (data.errors.password | idHashSet : 'password')
                : 'password-hint'
            "
          />
        </label>
        <button
          class="input-field__icon h-fit w-fit"
          type="button"
          aria-label="show password"
          [attr.aria-pressed]="passwordVisible()"
          (mousedown)="passwordVisible.set(true)"
          (mouseup)="passwordVisible.set(false)"
        >
          <app-icon [iconName]="passwordVisible() ? 'eye-slash' : 'eye'" />
        </button>
        @for (item of data.errors.password; track item) {
        <p class="input-field__error-message" [id]="item | IdHash : 'password'">
          {{ item }}
        </p>
        } @empty {
        <p class="input-field__hint" id="password-hint">
          Password must be at least 8 characters
        </p>
        }
      </div>

      <button class="button-primary mt-4">Create Account</button>
    </form>

    <p class="text-preset-4 text-neutral-500 text-center mt-8">
      Already have an account?
      <a routerLink="/user/login" class="text-preset-bold text-neutral-900">
        Login
      </a>
    </p>
  </article>
</div>
}
