<app-home-layout>
  @if (user(); as user) {
    <div class="grid h-full w-full place-items-center lg:px-5">
      <article class="w-full max-w-[35rem] rounded-xl bg-background-base px-5 py-6 md:p-8">
        <h1 class="text-preset-1">{{ titleText() }}</h1>
        <form class="mt-8 grid gap-4" novalidate (submit)="submitForm($event)">
          <ui-textbox
            label="Name"
            [value]="user.getUsername()"
            [invalid]="touched().username && user.usernameErrors().size > 0"
            (componentBlur)="touch({ username: true })"
            (componentChange)="patchUser({ username: $event })"
            [errors]="user.usernameErrors()"
          ></ui-textbox>

          @if (page() === 'signup') {
            <ui-textbox
              label="Email"
              [value]="user.getEmail()"
              [invalid]="touched().email && user.emailErrors().size > 0"
              (componentBlur)="touch({ email: true })"
              (componentChange)="patchUser({ email: $event })"
              [errors]="user.emailErrors()"
            ></ui-textbox>
          }

          <ui-textbox
            [label]="page() === 'signup' ? 'Create Password' : 'Password'"
            [value]="user.getPassword()"
            [type]="passwordType()"
            [invalid]="touched().password && user.passwordErrors().size > 0"
            (componentBlur)="touch({ password: true })"
            (componentChange)="patchUser({ password: $event })"
            [errors]="user.passwordErrors()"
            [hints]="passwordHints"
          >
            <button
              ngProjectAs="ui-textbox-after"
              class="grid place-items-center"
              type="button"
              aria-label="show password"
              [attr.aria-pressed]="passwordVisible()"
              (mousedown)="passwordVisible.set(true)"
              (mouseup)="passwordVisible.set(false)"
            >
              <ui-icon [iconName]="passwordVisible() ? 'eye-slash' : 'eye'" />
            </button>
          </ui-textbox>

          <button class="button-primary mt-4">{{ buttonText() }}</button>
        </form>

        @if (getPage()() === 'signup') {
          <p class="text-preset-4 mt-8 text-center text-neutral-500">
            Already have an account?
            <button (click)="setPage('login')" class="text-preset-bold text-neutral-900">
              Login
            </button>
          </p>
        } @else {
          <p class="text-preset-4 mt-8 text-center text-neutral-500">
            Need to create an account?
            <button (click)="setPage('signup')" class="text-preset-bold text-neutral-900">
              Sign Up
            </button>
          </p>
        }
      </article>
    </div>
  }
</app-home-layout>
