<div class="dashboard-layout">
  <app-nav active="Transactions"></app-nav>
  <main class="mx-auto w-[91.46%]">
    <header class="mt-6 flex h-14 items-center justify-between">
      <h1 class="text-preset-1 text-neutral-900">Transactions</h1>
      <button class="button-primary flex gap-1" (click)="openRecordTransactionDialog()">
        + Record <span class="hidden md:inline"> New Transaction</span>
      </button>
    </header>

    <section>
      <table>
        <thead>
          <tr>
            <th>Recipient / Sender</th>
            <th>Category</th>
            <th>Transaction Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          @for (transaction of transactions(); track $index) {
            <tr>
              <td>{{ transaction.getCounterparty() }}</td>
              <td>{{ transaction.getCategory() }}</td>
              <td>{{ transaction.getDate() }}</td>
              <td>{{ transaction.getAmount() }}</td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  </main>

  <ui-dialog title="Record New Transaction">
    <form class="mt-4 grid gap-4" method="post" (submit)="submitRecordTransactionForm($event)">
      @if (formTransaction(); as transaction) {
        <ui-select
          label="Type"
          [invalid]="typeTouched() && transaction.getTypeErrors().size > 0"
          [errors]="transaction.getTypeErrors()"
        >
          <ui-dropdown
            name="Category"
            [value]="transaction.getType()"
            (componentChange)="transaction.setType($event)"
            (componentBlur)="typeTouched.set(true)"
          >
            <ui-dropdown-option value="Expense">Expense</ui-dropdown-option>
            <ui-dropdown-option value="Income">Income</ui-dropdown-option>
          </ui-dropdown>
        </ui-select>

        <ui-textbox
          label="Recipient / Sender"
          [value]="transaction.getCounterparty()"
          (componentChange)="transaction.setCounterparty($event)"
          (componentBlur)="counterpartyTouched.set(true)"
          [invalid]="counterpartyTouched() && transaction.getCounterpartyErrors().size > 0"
          [errors]="transaction.getCounterpartyErrors()"
        >
        </ui-textbox>

        <ui-select
          label="Category"
          [invalid]="categoryTouched() && transaction.getCategoryErrors().size > 0"
          [errors]="transaction.getCategoryErrors()"
        >
          <ui-dropdown
            name="Category"
            [value]="transaction.getCategory()"
            (componentChange)="transaction.setCategory($event)"
            (componentBlur)="categoryTouched.set(true)"
          >
            @for (category of categories; track category) {
              <ui-dropdown-option [value]="category">{{ category }}</ui-dropdown-option>
            }
          </ui-dropdown>
        </ui-select>
        <ui-textbox
          label="Date"
          type="date"
          [value]="convertDate(transaction.getDate())"
          (componentChange)="transaction.setDate($event)"
          (componentBlur)="dateTouched.set(true)"
          [invalid]="dateTouched() && transaction.getDateErrors().size > 0"
          [errors]="transaction.getDateErrors()"
        >
        </ui-textbox>
        <ui-textbox
          label="Amount"
          type="number"
          [value]="convertAmount(transaction.getAmount())"
          (componentChange)="transaction.setAmount($event)"
          (componentBlur)="amountTouched.set(true)"
          [invalid]="amountTouched() && transaction.getAmountErrors().size > 0"
          [errors]="transaction.getAmountErrors()"
        >
          <p ngProjectAs="ui-textbox-before">$</p>
        </ui-textbox>
        <button class="button-primary">Record Transaction</button>
      }
    </form>
  </ui-dialog>
</div>
