<div class="dashboard-layout">
  <app-nav active="Transactions"></app-nav>
  <main class="mx-auto w-[91.46%]">
    <header class="mt-6 flex h-14 items-center justify-between">
      <h1 class="text-preset-1 text-neutral-900">Transactions</h1>
      <button class="button-primary flex gap-1" (click)="openRecordTransactionDialog()">
        + Record <span class="hidden md:inline"> New Transaction</span>
      </button>
    </header>
  </main>

  <ui-dialog title="Record New Transaction">
    <form class="mt-4 grid gap-4" method="post" (submit)="submitRecordTransactionForm($event)">
      @if (transactionForm(); as transaction) {
        <ui-textbox
          label="Recipient / Sender"
          [value]="transaction.getCounterparty()"
          (componentChange)="addInteractor.patchTransaction({ counterparty: $event })"
          (componentBlur)="counterpartyTouched.set(true)"
          [invalid]="counterpartyTouched() && transaction.counterpartyErrors().size > 0"
          [errors]="transaction.counterpartyErrors()"
        >
        </ui-textbox>

        <ui-select
          label="Category"
          [invalid]="categoryTouched() && transaction.categoryErrors().size > 0"
          [errors]="transaction.categoryErrors()"
        >
          <ui-dropdown
            name="Category"
            [value]="transaction.getCategory()"
            (componentChange)="addInteractor.patchTransaction({ category: $event })"
            (componentBlur)="categoryTouched.set(true)"
          >
            @for (category of categories; track category) {
              <ui-dropdown-option [value]="category">{{ category }}</ui-dropdown-option>
            }
          </ui-dropdown>
        </ui-select>
        <ui-textbox
          label="Date"
          type="date"
          [value]="convertDate(transaction.getDate())"
          (componentChange)="addInteractor.patchTransaction({ date: $event })"
          (componentBlur)="dateTouched.set(true)"
          [invalid]="dateTouched() && transaction.dateErrors().size > 0"
          [errors]="transaction.dateErrors()"
        >
        </ui-textbox>
        <ui-textbox
          label="Amount"
          type="number"
          [value]="convertAmount(transaction.getAmount())"
          (componentChange)="addInteractor.patchTransaction({ amount: $event })"
          (componentBlur)="amountTouched.set(true)"
          [invalid]="amountTouched()"
          [errors]="transaction.amountErrors()"
        >
          <p ngProjectAs="ui-textbox-before">$</p>
        </ui-textbox>
        <button class="button-primary">Record Transaction</button>
      }
    </form>
  </ui-dialog>
</div>
