<div class="dashboard-layout">
  <app-nav active="Transactions"></app-nav>
  <main class="mx-auto w-[91.46%]">
    <header class="mt-6 flex h-14 items-center justify-between">
      <h1 class="text-preset-1 text-neutral-900">Transactions</h1>
      <button class="button-primary" (click)="dialog().showModal()">
        + Add <span class="hidden">New Transaction</span>
      </button>
    </header>
  </main>

  <ui-dialog title="Add Transaction">
    <form class="mt-4 grid gap-4" method="post">
      @if (transactionForm(); as transaction) {
        <ui-textbox
          label="Recipient / Sender"
          [value]="transaction.getCounterparty()"
          (componentChange)="addInteractor.patchTransaction({ counterparty: $event })"
          (componentBlur)="counterpartyTouched.set(true)"
        >
        </ui-textbox>

        <ui-select label="Category">
          <ui-dropdown
            name="Category"
            [value]="transaction.getCategory()"
            (componentChange)="addInteractor.patchTransaction({ category: $event })"
          >
            @for (category of categories; track category) {
              <ui-dropdown-option [value]="category">{{ category }}</ui-dropdown-option>
            }
          </ui-dropdown>
        </ui-select>
        <ui-textbox
          label="Date"
          type="date"
          [value]="transaction.getDate()?.toISOString()"
          (componentChange)="addInteractor.patchTransaction({ date: $event })"
        >
        </ui-textbox>
        <ui-textbox
          label="Amount"
          type="number"
          [value]="amountMapper(transaction.getAmount())"
          (componentChange)="addInteractor.patchTransaction({ amount: $event })"
        >
          <p ngProjectAs="ui-textbox-before">$</p>
        </ui-textbox>
      }
    </form>
  </ui-dialog>
</div>
