<div class="grid h-[4.375rem] w-full place-items-center bg-neutral-900 lg:hidden">
  <img src="images/logo.svg" alt="" />
</div>
<div class="mx-auto grid min-h-screen max-w-[90rem] items-center p-5 lg:grid-cols-[35rem,1fr]">
  <section
    class="hidden aspect-[0.6086] max-h-[calc(100vh-2.5rem)] min-h-[32.75rem] w-full overflow-hidden rounded-xl bg-cover bg-no-repeat lg:flex lg:flex-col"
    [style.backgroundImage]="'url(images/sidebar.png)'"
  >
    <div class="p-10">
      <img src="images/logo.svg" alt="" />
    </div>

    <div class="mt-auto flex flex-col gap-6 bg-neutral-900 p-10 opacity-95">
      <h2 class="text-preset-1 text-white">Keep track of your money and save for your future</h2>
      <p class="text-preset-4 text-white">
        Personal finance app puts you in control of your spending. Track transactions, set budgets,
        and add to savings pots easily.
      </p>
    </div>
  </section>

  <div class="max-h-[min(100vh-2.5rem,57.5rem)] min-h-fit">
    <ng-content></ng-content>
  </div>
</div>
